@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 210 75% 59%;
    --foreground: 0 0% 10%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 80%;
    --primary: 210 75% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 80%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 75% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 210 75% 59%;
    --chart-1: 210 75% 59%;
    --chart-2: 0 100% 50%;
    --chart-3: 0 0% 10%;
    --chart-4: 0 0% 25%;
    --chart-5: 0 0% 80%;
    --radius: 8px;
  }
  
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 80%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 80%;
    --primary: 210 75% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 80%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 210 75% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 50%;
    --input: 0 0% 60%;
    --ring: 210 75% 59%;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar-track {
    @apply w-1 bg-foreground
  }

  ::-webkit-scrollbar {
    @apply w-1 bg-primary rounded-xl
  }

  ::-webkit-scrollbar-thumb {
    @apply w-1 bg-primary rounded-xl
  }
}

body { 
  overflow-x: hidden; 
}

